<h1>{{title}}</h1>

<hr>
<h2>Eolic Energy</h2>
<form>
  Wind Velocity (m/s): <input type="number" [(ngModel)]="velocity" name="velocity"><br/>
  Blade Diameter (m): <input type="number" [(ngModel)]="diameter" name="diameter"><br/>
  Available Resource (hour/d): <input type="number" [(ngModel)]="timeE" name="timeE"><br/>
  <br/><input class="submit" type="submit" value="Calculate" (click)="potenerEol()">
  <h4>Eolic Power: <span>{{powerE}}</span> W</h4>
  <h4>Eolic Energy Available: <span>{{energyE}}</span> Wh/d</h4>
  
</form>

<hr>
<h2>Hydro Energy</h2>
<form>
  Flow (m3): <input type="number" [(ngModel)]="flow" name="flow"><br/>
  Head (m): <input type="number" [(ngModel)]="head" name="head"><br/>
  Available Resource (hour/d): <input type="number" [(ngModel)]="timeH" name="timeH"><br/>
  <br/><input class="submit" type="submit" value="Calculate" (click)="potenerHidro()">
  <h4>Hidro Power: <span>{{powerH}}</span> W</h4>
  <h4>Hidro Energy Available: <span>{{energyH}}</span> Wh/d</h4>
</form>

<hr>
<h2>Solar Energy</h2>
<form>
  Power Solar Panel (W): <input type="number" [(ngModel)]="panelS" name="panelS"><br/>
  Quantity Panels (Und): <input type="number" [(ngModel)]="nPanelS" name="nPanelS"><br/>
  Available Resource (hour/d): <input type="number" [(ngModel)]="timeS" name="timeS"><br/>
  <br/><input class="submit" type="submit" value="Calculate" (click)="potenerSol()">
  <h4>Solar Power: <span>{{powerS}}</span> W</h4>
  <h4>Solar Energy Available: <span>{{energyS}}</span> Wh/d</h4>
</form>

<hr>
<hr>
<h3>Total Power: <span>{{totalPower}}</span> W</h3>
<h3>Total Energy Available: <span>{{totalEnergy}}</span> Wh/d</h3>
<hr>
<hr>
<h5>{{credits}}</h5>