<h1>{{title}}</h1>

<hr>
<h2>Eolic Energy</h2>
<form>
  Wind Velocity (m/s): <input type="text" [(ngModel)]="velocity" name="velocity"><br/>
  Blade Diameter (m): <input type="text" [(ngModel)]="diameter" name="diameter"><br/>
  Available Resource (hour): <input type="text" [(ngModel)]="timeE" name="timeE"><br/>
  <br/><input type="submit" value="Calculate">
</form>

<hr>
<h2>Hydro Energy</h2>
<form>
  Flow (m3): <input type="text" [(ngModel)]="flow" name="flow"><br/>
  Head (m): <input type="text" [(ngModel)]="head" name="head"><br/>
  Available Resource (hour): <input type="text" [(ngModel)]="timeH" name="timeH"><br/>
  <br/><input type="submit" value="Calculate">
</form>

<hr>
<h2>Solar Energy</h2>
<form>
  Power Solar Panel (W): <input type="text" [(ngModel)]="panelS" name="panelS"><br/>
  Quantity Panels (Und): <input type="text" [(ngModel)]="nPanelS" name="nPanelS"><br/>
  Available Resource (hour): <input type="text" [(ngModel)]="timeS" name="timeS"><br/>
  <br/><input type="submit" value="Calculate">
</form>

<hr>
<h3>Total Installed Power (W): <span>{{totalPower}}</span></h3>
<h3>Total Energy Available (Wh): <span>{{totalEnergy}}</span></h3>

<hr>
<h6>{{credits}}</h6>